.tabs {
  margin-top: 20px;
}
.tab-content .title {
  display: flex;
  justify-content: space-between;
  align-items: center;
 }
#overview .title .btn {
  border: 1px solid #ddd;
}
.modal-dialog {
  margin: 10% auto;
}